<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Meteor Showers</title>
		<link rel="stylesheet" href="style.css" />
		<script
			src="https://kit.fontawesome.com/a0bcd08329.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<h1>Meteor Showers</h1>

		<section class="display">
			<% for (let i=0; i< info.length;i++){%>
			<div class="shower__card">
				<span class="shower_name"><%=info[i].name %></span>
				<div class="shower__dates">
					<span>Start Date: <%=info[i].startDate %>, 2022</span>
					<span>End Date: <%=info[i].endDate %>, 2022</span>
				</div>
				<div class="shower__info">
					<span>Peak: <%=info[i].peakDate %>, 2022</span>
					<span>Speed <%=info[i].speed %>km/s</span>
					<span>Zenith Hourly Rate: <%=info[i].zhr %></span>
					<span>Brightness: <%=info[i].rating %></span>
					<span>Parent Body: <%=info[i].parentBody %></span>
				</div>
				<i
					action="/deleteShower"
					class="deleteButton fa-solid fa-circle-minus"
				></i>
			</div>
			<% }%>
		</section>

		<!-- <div class="input__container"> -->

		<form class="input__container" action="/addShower" method="POST">
			<input type="text" placeholder="Name" name="name" />
			<input
				type="text"
				placeholder="Start Date (e.g. 'March 1st')"
				name="startDate"
				class="grid-row2"
			/>
			<input
				type="text"
				placeholder="End Date (e.g. 'March 21st')"
				name="endDate"
				class="grid-row2"
			/>
			<input
				type="text"
				placeholder="Peak Date (e.g. 'March 8th')"
				name="peakDate"
				class="grid-row2"
			/>

			<input
				type="number"
				class="grid-row3"
				placeholder="Start Month Integer (e.g. 3)"
				name="startMonthInt"
			/>

			<input
				type="number"
				placeholder="Start Day Integer (e.g. 1)"
				name="startDayInt"
				class="grid-row3"
			/>

			<input
				type="number"
				placeholder="End Month Integer (e.g. 3)"
				name="endMonthInt"
				class="grid-row4"
			/>
			<input
				type="number"
				placeholder="End Day Integer (e.g. 28)"
				name="endDayInt"
				class="grid-row4"
			/>

			<input
				type="number"
				placeholder="Peak Month Integer (e.g. 28)"
				name="peakMonthInt"
				class="grid-row5"
			/>
			<input
				type="number"
				placeholder="Peak Day Integer (e.g. 28)"
				name="peakDayInt"
				class="grid-row5"
			/>

			<input
				type="number"
				placeholder="Speed (km/h)"
				name="speed"
				class="grid-row6"
			/>
			<input
				type="number"
				placeholder="ZHR"
				name="zhr"
				class="grid-row6"
			/>
			<input
				type="text"
				placeholder="Rating"
				name="rating"
				class="grid-row6"
			/>
			<input
				type="text"
				placeholder="Parent Body"
				name="parentBody"
				class="grid-row6"
			/>
			<input type="submit" class="span2 grid-row7" />
			<!-- </div> -->
		</form>
	</body>
	<script src="client.js"></script>
</html>
